*~
.DS_Store

# graphviz files
*.dot
*.ps
*.pdf

dbn-debug
dbn-debug.dSYM/
dbn.dSYM/
*.supp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dbn